@using MusicPortal.Core
@model List<Track>
@{ 
    int counter = 1;
}

<table class="table table-bordered table-hover table-responsive table-striped">
    <tr><th>#</th><th>Track</th><th>Duration</th></tr>
   @foreach(Track track in Model)
    {
       <tr>
           <td>@counter</td>
           <td>
               <div class="col-lg-11">
                   <img class="img-circle" src="@track.PictureLink" />
                   @track.Name
               </div>
               @if (track.Mp3Path != null)
               {
                   
                   <div class="col-lg-1">
                       <a href="@track.Mp3Path" download><span class="glyphicon glyphicon-download-alt"></span></a>
                   </div>
               }
           </td>
           <td>@track.Duration</td>
       </tr>
       counter++;
    }
</table>
