@using Core
@model Album
@{
    ViewData["Title"] = "Home Page";
    int counter = 1;
}

<h1><a href="/Home/ArtistProfile?name=@Model.Artist.Name">@Model.Artist.Name</a></h1>
<h1>@Model.Name</h1>
<div class="row">
    <div class="col-lg-3">
        <img class="img-rounded" src="@Model.PictureLink" />
    </div>
    <div class="col-lg-8">
        @if (Model.Tracks.Count != 0)
        {
            <table class="table table-bordered table-hover table-responsive table-striped">
                <tr><th>#</th><th>Track</th><th>Duration</th></tr>
                @foreach (Track track in Model.Tracks)
                {
                    <tr>
                        <td>@counter</td>
                        <td>
                            <img class="img-circle" src="@track.PictureLink" />
                            @track.Name
                        </td>
                        <td>@track.Duration</td>
                    </tr>
                    counter++;
                }
            </table>
        }
    </div>
</div>